<%-include("./partials/header.ejs")%>
    <%-include("./partials/navbar.ejs")%>
    <h1><div class="not-found content">Error 404</div></h1>
    <h2>The page does not exist.</h2>
<%-include("./partials/footer.ejs")%>
<%-include("./partials/closingtags.ejs")%>