<%-include("./partials/header.ejs")%>
    <%-include("./partials/navbar.ejs")%>
    <div class="about content">
        <h1>Welcome to the About page!</h1>
        <h2>This quote app allows you to see some quotes!</h2>
    </div>
    
    <%-include("./partials/footer.ejs")%>
    <%-include("./partials/closingtags.ejs")%>