<nav class="navbar">
    <div class="site-title">
        <a href="/"><h1>Navigation</h1></a>
        <p>A BitDegree Site</p>
    </div>
    <ul>
        <li>
            <a class="navlink" href="http://localhost:3000">Home</a>
        </li>
        <li>
            <a class="navlink" href="http://localhost:3000/about">About</a>
        </li>
        <li>
            <a class="navlink" href="http://localhost:3000/quotes/create">Create Quote</a>
        </li>
    </ul>
</nav>